@font-face {
    font-family: norseBold;
    src: url(Norse-Bold.otf);
}

.tokyo {
    height: 100vh;
    width: auto;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0
}

.page {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 0px;
}

body {
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(32, 1, 58);
    color: whitesmoke
}

.disclaimer {
    font-size: 20px;
    font-weight: bold;
}

.submit {
    border-radius: 8px;
    border: 0;
    background-color: rgb(24, 5, 194);
    padding: 10px;
    font-size: 18px;
    color: rgb(245, 234, 202)
}

.account {
    margin-top: 50px;
}

.form {
    margin-top: 40px;
    background-color: rgb(45, 0, 82);
    padding: 10px
}

#table {
    border-spacing: 20px;
}

.odinImg {
    height: 100px;
    width: auto;
}

.odinText {
    font-size: 40px;
    font-family: 'norseBold';
}

.banner {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: row-reverse;
    position: absolute;
    bottom: 61vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 100;
    width: 385px;
    justify-content: center;
}

.container {
    position: relative;
}

.body {
    width: 100vw
}

a {
    color: rgb(24, 5, 194)
}

.top-text {
    padding-bottom: -10px;
}

label, input {
    display: block
}

input:focus {
    outline: none !important;
    border: 3px blue solid;
}

#password:invalid, #confirmPassword:invalid {
    border-color: red;
}